{% extends 'base_files/main_base.html' %} 
{% block title %}Monthly Summary{% endblock %}


{% block content %}
<header>
    <nav id="header-nav" class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <div class="navbar-brand">
                <a href="/"  ><h1><i class="bi bi-chevron-left"></i></h3></span></a>
            </div>
            <div class="navbar-brand">
                <a href="/"  ><b>Miniature-Octo-Umberella</b></a>
            </div>
        </div>
    </nav>
</header>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, message in messages %}
    {% if category == 'error' %}
    <div class="alert alert-danger alert-dismissable fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="alert" style="float: right;"></button>
    </div>
    {% else %}
    <div class="alert alert-success alert-dismissable fade show" role="alert" id="div_flash">
        {{ message }}
        <button type="button" class="btn-close" aria-label="Close" data-dismiss="alert" data-bs-dismiss="alert" style="float: right;"></button>
    </div>
    {% endif %}
    {% endfor %}
{% endif %}
{% endwith %}

<div class="container mb-3" style="display: flex; justify-content: center; border: 6px black solid; position: relative; top:25px; border-radius: 15px;">
    <form method="POST">
        <div class="row">
            <div class="col mt-5 mb-5 ml-5 mr-5">
                <label for="month" class="form-label" id="label-in-auth">Date : </label>
            </div>
            <div class="col mt-5 mb-5 ml-5 mr-5">
                <input type="month" class="form-control" id="month" name="month">
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary mt-5 mb-5 ml-5 mr-5" id="loginBtn">Get</button>
            </div>        
        </div>
    </form>
</div>

{% endblock %}


{% block js %} 
<script>document.getElementById('date').defaultValue = "2014-02-09";</script>
{% endblock %}