{% extends 'base_files/main_base.html' %} 
{% block title %}Monthly Summary{% endblock %}


{% block content %}
<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #152f4e;">
        <div class="container" id="no-padding">
            <div class="navbar-brand">
                <a href="/home">
                    <span id="back-arrow" class="carousel-control-prev-icon"></span>
                </a>
            </div>
            <div class="nav-item">
                <input type="month" class="form-control" id="date" name="date" value="{{month}}" onclick="console.log()">
            </div>
        </div>
    </nav>
</header>

<!--Flash-->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, message in messages %}
    {% if category == 'error' %}
    <div class="alert alert-danger alert-dismissable fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="alert" style="float: right;"></button>
    </div>
    {% else %}
    <div class="alert alert-success alert-dismissable fade show" role="alert" id="div_flash">
        {{ message }}
        <button type="button" class="btn-close" aria-label="Close" data-dismiss="alert" data-bs-dismiss="alert" style="float: right;"></button>
    </div>
    {% endif %}
    {% endfor %}
{% endif %}
{% endwith %}
<!--Flash Ends-->


{% endblock %}


{% block js %} 
<script>document.getElementById('date').defaultValue = "2014-02-09";</script>
{% endblock %}