
body {
    background-color: #152f4e;
    font-family: 'Oxygen', sans-serif;
    color: black;
}

.navbar-brand a {
    float: none;
    position: relative;
    transform: translate(-50%, -50%);
    text-decoration: wavy;
    color: black;
    font-size: 120%;
    font-weight: bolder;
    font-family: 'Edu NSW ACT Foundation', cursive;

}

#header-nav {
    background-color: #cb7a4d;
    border-radius: 1vw;
    border: 3px solid black;
}

#nav-link-1 {
    text-decoration: none;
    font-family: 'Oxygen', sans-serif;
    color: black;
    font-weight: bold;
    background-color: #cc8c6a;
    border-radius: 15px;
    margin-left: 5px;
    margin-top: 5px;
}

#nav-link-2 {
    text-decoration: none;
    font-family: 'Oxygen', sans-serif;
    color: black;
    font-weight: bold;
    float: right;
}

#navbarNav1 {
    background-color: #cb7a4d;
    margin-top: 1vh;
    border-radius: 1vw;
    border: 3px solid black;
    padding-right: 1vw;
}

.navbar-toggler{ 
    box-shadow: 0 0 0 var(--bs-navbar-toggler-focus-width);
    color: black;
    background-color: #cb7a4d;
}



#widgets_col {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: #bb474b;
    border: 2px solid black;
    border-radius: 15px;
    height: 5em;
    text-transform: capitalize;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    font-size: 120%;
}

#widgets_col > a {
    text-decoration: none;
    font-weight: bold;
    color: #f6f4f2;
    padding-bottom: 50px;
}

input[type="month"] {
    font-family: 'Oxygen', sans-serif;
}

#label-in-auth {
    color: #f6f4f2;
    font-size: 120%;
    
}   

div.container {
    text-align: center;
}

label#keeplogin {
    color: #f6f4f2;
    width: 10em;
}


#loginBtn {
    color: black;
    font-weight: bold;
    background-color: #bb474b;
    border: 1px solid black;
}

#auth-nav {
    background-color: #cb7a4d;
    width: 50%;
    margin: 2% 25% 2% 25%;
    border-radius: 15px;
    font-size: 150%;
    border:3px black solid;
}

#auth-nav a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

#auth-nav > .row > .active-auth-form > a {
    background-color: #bb474b;
    border-radius: 10px;
    border: 1px solid black;
    padding-left: 4px;
    padding-right: 4px;
}

#showPass {
    margin-left: 14em;
}

#back-arrow {
    color: white;
}

/*********************************************************************************************************************/
/* MEDIA QUERIES */
@media screen and (min-width:768px) {

    body {
        overflow-x: hidden;
    }

    #widgets_menu{
        margin: 0;
        position: relative;
        top: 25vh;
        left: 18vw;
        
    }   
    
    #widgets_col1 {
    margin-left: 15px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 2px;
    background-color: #bb474b;
    border: 2px solid black;
    border-radius: 15px;
    height: 5em;
    text-transform: capitalize;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    font-size: 120%;
    }
    
    #widgets_col1 > a {
        text-decoration: none;
        font-weight: bold;
        color: #f6f4f2;
        padding-bottom: 50px;
    }
}

@media screen and (max-width:767px) {
    #widgets_menu{
        margin-top: 5%;
    }

    #widgets_col1 {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: #bb474b;
    border: 2px solid black;
    border-radius: 15px;
    height: 5em;
    text-transform: capitalize;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    font-size: 120%;
    }

    #widgets_col1 > a {
        text-decoration: none;
        font-weight: bold;
        color: #f6f4f2;
        padding-bottom: 50px;
    }

    #showPass {
        margin-left: 8em;
    }
    
    label#keeplogin {
        color: #f6f4f2;
        margin-left: 0.001px;
        width: 9em;
    }
}

